# Exercise Question 1: Given a Python list you should be able to display Python list in the following order
aLsit = [100, 200, 300, 400, 500]
Expected output:

[500, 400, 300, 200, 100]

In [1]:
aList=[100,200,300,400,500]
aList.reverse()
aList

[500, 400, 300, 200, 100]

# Exercise Question 2: Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
Expected output:

['My', 'name', 'is', 'Kelly']

In [6]:
list1=["M","na","i","Ke"]
list2=["y","me","s","lly"]
list3=(list1[0]+list2[0]),(list1[1]+list2[1]),(list1[2]+list2[2]),(list1[3]+list2[3])
list3

('My', 'name', 'is', 'Kelly')

# Exercise Question 3: Given a Python list. Turn every item of a list into its square
aList = [1, 2, 3, 4, 5, 6, 7]
Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [8]:
aList=[1,2,3,4,5,6,7]
list2=[(aList[0]**2),(aList[1]**2),(aList[2]**2),(aList[3]**2),(aList[4]**2),(aList[5]**2),(aList[6]**2)]
list2

[1, 4, 9, 16, 25, 36, 49]

# Exercise Question 4: Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [19]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3=[(list1[0]+list2[0]),(list1[0]+list2[1]),(list1[1]+list2[0]),(list1[1]+list2[1])]
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

# Exercise Question 5: Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order
list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

Expected output:

10 400

20 300

30 200

40 100

In [32]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
print(list1[0],list2[3])
print(list1[1],list2[2])
print(list1[2],list2[1])
print(list1[3],list2[0])

10 400
20 300
30 200
40 100

# Exercise Question 6: Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:

["Mike", "Emma", "Kelly", "Brad"]

In [49]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1.remove("")
list1.remove("")
list1

['Mike', 'Emma', 'Kelly', 'Brad']

# Exercise Question 7: Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Expected output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [57]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

# Exercise Question 8: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list

Given List:

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

Sub List to be added = ["h", "i", "j"]

Expected output:

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [66]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list2 = ["h", "i", "j"]
list1[2][1][2].extend(list2)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Exercise Question 9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:

list1 = [5, 10, 15, 200, 25, 50, 20]

In [71]:
list1 = [5, 10, 15, 20, 25, 50, 20]

x = list1.index(20)
list1[x] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

# Exercise Question 10: Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [6]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1: list1.remove(20)
list1

[5, 15, 25, 50]

# Exercise Question 11: Reverse a given string 

Given​: str1 = "PYnative"

Expected Output​: evitanYP

In [2]:
str1 = "PYnative"
print(str1[::-1])

evitanYP

# Exercise Question 12: Find the last position of a substring “Emma” in a given string 
Given​: str1 = "Emma is a data scientist who knows Python. Emma works at google." 

Where in the string is the last occurrence of the substring “Emma”?: 

Expected Output​: Last occurrence of Emma starts at index ​43

In [3]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."

# Exercise Question 13: Split a given string on hyphens into several substrings and display each substring 
Given: 

str1 = Emma-is-a-data-scientist 
Expected Output​: 
Displaying each substring 

Emma

is

a 

data 

scientist

In [8]:
str1 = 'Emma-is-a-data-scientist'
x=str1.split('-')
for i in x:
    print(i)

Emma
is
a
data
scientist

# Exercise Question 14: Remove empty strings from a list of strings 

Given​: 

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

Expected Output​: 

Original list of sting ['Emma', 'Jon', '', 'Kelly', None, 'Eric', ''] 

After removing empty strings ['Emma', 'Jon', 'Kelly', 'Eric']

In [23]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
print('Original string',str_list)
str_list.remove('')
str_list.remove('')
str_list.remove(None)
print('After removing empty strings',str_list)

Original string ['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']
After removing empty strings ['Emma', 'Jon', 'Kelly', 'Eric']

# Exercise Question 15: Remove special symbols/Punctuation from a given string 

Given​: 

str1 = "/*Jon is @developer & musician" 

Expected Output​: “Jon is developer musician”

In [31]:
str1 = '"/*Jon is @developer & musician"'
x=str1.replace('/','')
y=x.replace('*','')
a=y.replace('@','')
b=a.replace('&','')
c=b.replace('  ',' ')
print(c)

"Jon is developer musician"

# Exercise Question 17: Find words with both alphabets and numbers 

Given​: 

str1 = "Emma25 is Data scientist50 and AI Expert" 

Expected Output​: 

Emma25 

scientist50

In [4]:
str1 = "Emma25 is Data scientist50 and AI Expert"
s = []
temp = str1.split()
for item in temp:
    if any(char.isalpha() for char in item) and any(char.isdigit() for char in item):
        s.append(item)

for i in s:
    print(i)

Emma25
scientist50