In [1]:
library('dplyr')
library(nycflights13)
print(flights)

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'nycflights13' was built under R version 3.6.3"

# A tibble: 336,776 x 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with 336,766 more rows, and 11 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

In [2]:
print(flights %>% group_by(dest)%>% summarize(Avg_Delay=mean(arr_delay,na.rm=TRUE)))

# A tibble: 105 x 2
   dest  Avg_Delay
   <chr>     <dbl>
 1 ABQ        4.38
 2 ACK        4.85
 3 ALB       14.4
 4 ANC       -2.5
 5 ATL       11.3
 6 AUS        6.02
 7 AVL        8.00
 8 BDL        7.05
 9 BGR        8.03
10 BHM       16.9
# ... with 95 more rows

In [5]:
install.packages('tidyverse')

also installing the dependencies 'bit', 'fs', 'rappdirs', 'bit64', 'progress', 'processx', 'xfun', 'blob', 'data.table', 'gargle', 'ids', 'rematch2', 'isoband', 'cpp11', 'vroom', 'tzdb', 'callr', 'knitr', 'withr', 'broom', 'cli', 'crayon', 'dbplyr', 'dtplyr', 'forcats', 'googledrive', 'googlesheets4', 'ggplot2', 'haven', 'hms', 'httr', 'jsonlite', 'lubridate', 'magrittr', 'modelr', 'purrr', 'readr', 'reprex', 'rstudioapi', 'rvest', 'tidyr', 'xml2'

  There are binary versions available but the source versions are later:
              binary source needs_compilation
xfun            0.22   0.27              TRUE
blob           1.2.1  1.2.2             FALSE
data.table    1.14.0 1.14.2              TRUE
gargle         1.1.0  1.2.0             FALSE
isoband        0.2.4  0.2.5              TRUE
cpp11          0.2.7  0.4.0             FALSE
vroom          1.4.0  1.5.5              TRUE
tzdb           0.1.1  0.1.2              TRUE
knitr           1.33   1.36             FALSE
broom          0.7.6  0.7.9             FALSE
cli            2.5.0  3.0.1              TRUE
googledrive    1.0.1  2.0.0             FALSE
googlesheets4  0.3.0  1.0.0             FALSE
ggplot2        3.3.3  3.3.5             FALSE
haven          2.4.1  2.4.3              TRUE
hms            1.0.0  1.1.1             FALSE
lubridate     1.7.10  1.8.0              TRUE
readr          1.4.0  2.0.2              TRUE
reprex         2.0.0  2.0.1             FALSE
rvest          1.0.0  1.0.2             FALSE
tidyr          1.1.3  1.1.4              TRUE

  Binaries will be installed
package 'bit' successfully unpacked and MD5 sums checked
package 'fs' successfully unpacked and MD5 sums checked
package 'rappdirs' successfully unpacked and MD5 sums checked
package 'bit64' successfully unpacked and MD5 sums checked
package 'progress' successfully unpacked and MD5 sums checked
package 'processx' successfully unpacked and MD5 sums checked
package 'xfun' successfully unpacked and MD5 sums checked
package 'data.table' successfully unpacked and MD5 sums checked
package 'ids' successfully unpacked and MD5 sums checked
package 'rematch2' successfully unpacked and MD5 sums checked
package 'isoband' successfully unpacked and MD5 sums checked
package 'vroom' successfully unpacked and MD5 sums checked
package 'tzdb' successfully unpacked and MD5 sums checked
package 'callr' successfully unpacked and MD5 sums checked
package 'withr' successfully unpacked and MD5 sums checked
package 'cli' successfully unpacked and MD5 sums checked
package 'crayon' successfully unpacked and MD5 sums checked
package 'dbplyr' successfully unpacked and MD5 sums checked
package 'dtplyr' successfully unpacked and MD5 sums checked
package 'forcats' successfully unpacked and MD5 sums checked
package 'haven' successfully unpacked and MD5 sums checked
package 'httr' successfully unpacked and MD5 sums checked
package 'jsonlite' successfully unpacked and MD5 sums checked
package 'lubridate' successfully unpacked and MD5 sums checked
package 'magrittr' successfully unpacked and MD5 sums checked
package 'modelr' successfully unpacked and MD5 sums checked
package 'purrr' successfully unpacked and MD5 sums checked
package 'readr' successfully unpacked and MD5 sums checked
package 'rstudioapi' successfully unpacked and MD5 sums checked
package 'tidyr' successfully unpacked and MD5 sums checked
package 'xml2' successfully unpacked and MD5 sums checked
package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\sriku\AppData\Local\Temp\RtmpmETqgU\downloaded_packages

installing the source packages 'blob', 'gargle', 'cpp11', 'knitr', 'broom', 'googledrive', 'googlesheets4', 'ggplot2', 'hms', 'reprex', 'rvest'

In [7]:
library(tidyverse)

Warning message:
"package 'tidyverse' was built under R version 3.6.3"

ERROR: Error: package or namespace load failed for 'tidyverse' in loadNamespace(j <- i[[1L]], c(lib.loc, .libPaths()), versionCheck = vI[[j]]):
 namespace 'jsonlite' 1.6 is already loaded, but >= 1.7.2 is required

In [8]:
df=read.csv("telecom.csv")

In [9]:
glimpse(df)

Rows: 10
Columns: 5
$ customerID     <fct> 7590-VHVEG, 5575-GNVDE, 3668-QPYBK, 7795-CFOCW, 9237-HQ~
$ MonthlyCharges <dbl> 29.85, 56.95, NA, 42.30, 70.70, NaN, 89.10, NA, 104.80,~
$ TotalCharges   <fct> 109.9, na, 108.15, 1840.75, NA, 820.5, 1949.4, N/A, 304~
$ PaymentMethod  <fct> Electronic check, Mailed check, --, Bank transfer, Elec~
$ Churn          <fct> yes, yes, yes, no, no, yes, no, yes, no, no

In [11]:
is.na(df$MonthlyCharges)

 [1] FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE

In [12]:
#counting missing values
df %>% summarise(count = sum(is.na(MonthlyCharges)))

  count
1 3

In [15]:
#replacing NA values
df<- df %>%
  mutate(MonthlyCharges
         = replace(MonthlyCharges,
                   is.na(MonthlyCharges),
                   median(MonthlyCharges, na.rm = TRUE)))
df

   customerID MonthlyCharges TotalCharges PaymentMethod    Churn
1  7590-VHVEG  29.85         109.9        Electronic check yes
2  5575-GNVDE  56.95         na           Mailed check     yes
3  3668-QPYBK  56.95         108.15       --               yes
4  7795-CFOCW  42.30         1840.75      Bank transfer    no
5  9237-HQITU  70.70         NA           Electronic check no
6  9305-CDSKC  56.95         820.5        --               yes
7  1452-KIOVK  89.10         1949.4       Credit card      no
8  6713-OKOMC  56.95         N/A                           yes
9  7892-POOKP 104.80         3046.05      Electronic check no
10 8451-AJOMK  54.10         354.95       Electronic check no

In [18]:
#make all empty elements as NA values /
df <- df %>%
  mutate(TotalCharges = replace(TotalCharges, TotalCharges == "na", NA)) %>%
  mutate(TotalCharges = replace(TotalCharges, TotalCharges == "N/A", NA))

In [19]:
#change the total charges data type from String to Numeric
df$TotalCharges =  as.numeric(df$TotalCharges)

In [20]:
#replace NA values
df<- df %>%
  mutate(TotalCharges
         = replace(TotalCharges,
                   is.na(TotalCharges),
                   median(TotalCharges, na.rm = TRUE)))
df

   customerID MonthlyCharges TotalCharges PaymentMethod    Churn
1  7590-VHVEG  29.85         2            Electronic check yes
2  5575-GNVDE  56.95         4            Mailed check     yes
3  3668-QPYBK  56.95         1            --               yes
4  7795-CFOCW  42.30         3            Bank transfer    no
5  9237-HQITU  70.70         4            Electronic check no
6  9305-CDSKC  56.95         7            --               yes
7  1452-KIOVK  89.10         4            Credit card      no
8  6713-OKOMC  56.95         4                             yes
9  7892-POOKP 104.80         5            Electronic check no
10 8451-AJOMK  54.10         6            Electronic check no

In [21]:
#replace other missing values to NA
df <- df %>%
  mutate(PaymentMethod = replace(PaymentMethod, PaymentMethod == "--", NA)) %>%
  mutate(PaymentMethod = replace(PaymentMethod, PaymentMethod == " ", NA))

In [24]:
df<- df %>%
  mutate(TotalCharges
         = replace(TotalCharges,
                   is.na(TotalCharges),
                   "Unavilable"))
df

   customerID MonthlyCharges TotalCharges PaymentMethod    Churn
1  7590-VHVEG  29.85         2            Electronic check yes
2  5575-GNVDE  56.95         4            Mailed check     yes
3  3668-QPYBK  56.95         1            NA               yes
4  7795-CFOCW  42.30         3            Bank transfer    no
5  9237-HQITU  70.70         4            Electronic check no
6  9305-CDSKC  56.95         7            NA               yes
7  1452-KIOVK  89.10         4            Credit card      no
8  6713-OKOMC  56.95         4                             yes
9  7892-POOKP 104.80         5            Electronic check no
10 8451-AJOMK  54.10         6            Electronic check no

In [25]:
# replacing "--" with NA
df <- df %>%
  mutate(PaymentMethod = replace(PaymentMethod, PaymentMethod ==  "--", NA))
is.na(df$PaymentMethod)
df$PaymentMethod

# replace NA with "unavailable"
df <- df %>%
  mutate(PaymentMethod = replace(PaymentMethod, is.na(PaymentMethod), "unavailable"))
df$PaymentMethod

 [1] FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE

 [1] Electronic check Mailed check     <NA>             Bank transfer
 [5] Electronic check <NA>             Credit card
 [9] Electronic check Electronic check
Levels:  -- Bank transfer Credit card Electronic check Mailed check

Warning message in `[<-.factor`(`*tmp*`, list, value = "unavailable"):
"invalid factor level, NA generated"

 [1] Electronic check Mailed check     <NA>             Bank transfer
 [5] Electronic check <NA>             Credit card
 [9] Electronic check Electronic check
Levels:  -- Bank transfer Credit card Electronic check Mailed check