In [1]:
df=data.frame(days=c("m","t","w"),date=c(1,2,3),temp=c(28,30,32))
df

  days date temp
1 m    1    28
2 t    2    30
3 w    3    32

In [1]:
days=c("m","t","w")
date=c(1,2,3)
temp=c(32,29,30)
df=data.frame(days,date,temp)
df
str(df)
summary(df)
min(df$date)

  days date temp
1 m    1    32
2 t    2    29
3 w    3    30

'data.frame':	3 obs. of  3 variables:
 $ days: Factor w/ 3 levels "m","t","w": 1 2 3
 $ date: num  1 2 3
 $ temp: num  32 29 30

 days       date          temp
 m:1   Min.   :1.0   Min.   :29.00
 t:1   1st Qu.:1.5   1st Qu.:29.50
 w:1   Median :2.0   Median :30.00
       Mean   :2.0   Mean   :30.33
       3rd Qu.:2.5   3rd Qu.:31.00
       Max.   :3.0   Max.   :32.00

[1] 1

In [2]:
#fetching particular element
df$days[2]

[1] t
Levels: m t w

In [4]:
df[["temp"]]

[1] 32 29 30

In [6]:
df["date"]

  date
1 1
2 2
3 3

In [9]:
#changing a particular column name
names(df)[names(df)=="temp"]="degrees"

In [9]:
df

  days date degrees
1 m    1    32
2 t    2    29
3 w    3    30

In [11]:
#data frame slicing and indexing
df[,1]

[1] m t w
Levels: m t w

In [12]:
df[1,]

  days date degrees
1 m    1    32

In [13]:
df[,'days']

[1] m t w
Levels: m t w

In [21]:
df["date"]

  date
1 1
2 2
3 3

In [12]:
df[1:3,c('days','degrees')]

  days degrees
1 m    32
2 t    29
3 w    30

In [30]:
#built functions for data frames
df=data.frame(days=c("m","t","w"),date=c(1,2,3),temp=c(28,30,32))
nrow(df)
ncol(df)
colnames(df)
rownames(df)
head(df,2)
tail(df,2)
length(df)
df
is.data.frame(df)

[1] 3

[1] 3

[1] "days" "date" "temp"

[1] "1" "2" "3"

  days date temp
1 m    1    28
2 t    2    30

  days date temp
2 t    2    30
3 w    3    32

[1] 3

  days date temp
1 m    1    28
2 t    2    30
3 w    3    32

[1] TRUE

In [36]:
#deleting the row
a=df[-2,]
a

  days date temp
1 m    1    28
3 w    3    32

In [39]:
#delete column
b=df[,-2]
b

  days temp
1 m    28
2 t    30
3 w    32

In [53]:
#filtering the data
subset(df, subset = temp==32)

  days date temp
3 w    3    32

In [15]:
#sorting
sorted=order(df['days'])
df[sorted]

  days date degrees
1 m    1    32
2 t    2    29
3 w    3    30

In [17]:
df=data.frame(days=c("m","t","w"),date=c(1,2,NA),temp=c(28,30,32))
#descending order sorting
dessorted=order(df['date'],decreasing = TRUE)
df[dessorted,]

  days date temp
2 t     2   30
1 m     1   28
3 w    NA   32

In [133]:
#adding new column
df=cbind(df,tf=c(TRUE,FALSE,FALSE))
df

  days date temp tf
1 m     1   28    TRUE
2 t     2   30   FALSE
3 w    NA   32   FALSE

In [134]:
#adding new row
df=rbind(df,rf=c("t",4,26,FALSE))
df

  days date temp tf
1 m    1    28   TRUE
2 t    2    30   FALSE
3 w    NA   32   FALSE
4 t    4    26   FALSE

In [119]:
#adding a list in data frame
a=list('a',5,33,TRUE)
df=rbind(stringsAsFactors = FALSE,df,a)
df

Warning message in `[<-.factor`(`*tmp*`, ri, value = "a"):
"invalid factor level, NA generated"

  days date temp tf
1 m    1    28   TRUE
2 t    2    30   FALSE
3 w    3    32   FALSE
4 t    4    26   FALSE
5 NA   5    33   TRUE

In [135]:
#converting dataframes to list
a=list(df$days,df$date)
a

[[1]]
[1] m t w t
Levels: m t w

[[2]]
[1] "1" "2" NA  "4"

In [136]:
#checking for null value
is.na(df)

     days  date  temp  tf
[1,] FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE
[3,] FALSE  TRUE FALSE FALSE
[4,] FALSE FALSE FALSE FALSE

In [137]:
any(is.na(df))

[1] TRUE

In [138]:
is.na(df$date)

[1] FALSE FALSE  TRUE FALSE

In [139]:
#replace NA with something else
df[is.na(df)]=0
df

  days date temp tf
1 m    1    28   TRUE
2 t    2    30   FALSE
3 w    0    32   FALSE
4 t    4    26   FALSE

In [148]:
df=data.frame(days=c("m","t","w"),date=c(1,2,NA),temp=c(28,30,32))
print(df)
df$date[is.na(df$date)]=3
df

  days date temp
1    m    1   28
2    t    2   30
3    w   NA   32

  days date temp
1 m    1    28
2 t    2    30
3 w    3    32

In [149]:
authors <- data.frame(
  surname = I(c("Tukey", "Venables", "Tierney", "Ripley", "McNeil")),
  nationality = c("US", "Australia", "US", "UK", "Australia"),
  deceased = c("yes", rep("no", 4)))
books <- data.frame(
  name = I(c("Tukey", "Venables", "Tierney",
             "Ripley", "Ripley", "McNeil", "R Core")),
  title = c("Exploratory Data Analysis",
            "Modern Applied Statistics ...",
            "LISP-STAT",
            "Spatial Statistics", "Stochastic Simulation",
            "Interactive Data Analysis",
            "An Introduction to R"),
  other.author = c(NA, "Ripley", NA, NA, NA, NA,
                   "Venables & Smith"))

In [152]:
#merging dataframes
m1=merge(authors,books)
m1

   surname  nationality deceased name     title
1  Tukey    US          yes      Tukey    Exploratory Data Analysis
2  Venables Australia   no       Tukey    Exploratory Data Analysis
3  Tierney  US          no       Tukey    Exploratory Data Analysis
4  Ripley   UK          no       Tukey    Exploratory Data Analysis
5  McNeil   Australia   no       Tukey    Exploratory Data Analysis
6  Tukey    US          yes      Venables Modern Applied Statistics ...
7  Venables Australia   no       Venables Modern Applied Statistics ...
8  Tierney  US          no       Venables Modern Applied Statistics ...
9  Ripley   UK          no       Venables Modern Applied Statistics ...
10 McNeil   Australia   no       Venables Modern Applied Statistics ...
11 Tukey    US          yes      Tierney  LISP-STAT
12 Venables Australia   no       Tierney  LISP-STAT
13 Tierney  US          no       Tierney  LISP-STAT
14 Ripley   UK          no       Tierney  LISP-STAT
15 McNeil   Australia   no       Tierney  LISP-STAT
16 Tukey    US          yes      Ripley   Spatial Statistics
17 Venables Australia   no       Ripley   Spatial Statistics
18 Tierney  US          no       Ripley   Spatial Statistics
19 Ripley   UK          no       Ripley   Spatial Statistics
20 McNeil   Australia   no       Ripley   Spatial Statistics
21 Tukey    US          yes      Ripley   Stochastic Simulation
22 Venables Australia   no       Ripley   Stochastic Simulation
23 Tierney  US          no       Ripley   Stochastic Simulation
24 Ripley   UK          no       Ripley   Stochastic Simulation
25 McNeil   Australia   no       Ripley   Stochastic Simulation
26 Tukey    US          yes      McNeil   Interactive Data Analysis
27 Venables Australia   no       McNeil   Interactive Data Analysis
28 Tierney  US          no       McNeil   Interactive Data Analysis
29 Ripley   UK          no       McNeil   Interactive Data Analysis
30 McNeil   Australia   no       McNeil   Interactive Data Analysis
31 Tukey    US          yes      R Core   An Introduction to R
32 Venables Australia   no       R Core   An Introduction to R
33 Tierney  US          no       R Core   An Introduction to R
34 Ripley   UK          no       R Core   An Introduction to R
35 McNeil   Australia   no       R Core   An Introduction to R
   other.author
1  NA
2  NA
3  NA
4  NA
5  NA
6  Ripley
7  Ripley
8  Ripley
9  Ripley
10 Ripley
11 NA
12 NA
13 NA
14 NA
15 NA
16 NA
17 NA
18 NA
19 NA
20 NA
21 NA
22 NA
23 NA
24 NA
25 NA
26 NA
27 NA
28 NA
29 NA
30 NA
31 Venables & Smith
32 Venables & Smith
33 Venables & Smith
34 Venables & Smith
35 Venables & Smith

In [153]:
#merging only the matching records
m1=merge(authors,books ,by.x="surname", by.y="name")
m1

  surname  nationality deceased title                         other.author
1 McNeil   Australia   no       Interactive Data Analysis     NA
2 Ripley   UK          no       Spatial Statistics            NA
3 Ripley   UK          no       Stochastic Simulation         NA
4 Tierney  US          no       LISP-STAT                     NA
5 Tukey    US          yes      Exploratory Data Analysis     NA
6 Venables Australia   no       Modern Applied Statistics ... Ripley

In [158]:
#ignoring specific rows or column
m1=merge(authors[-1,],books ,by.x="surname", by.y="name")
m1

  surname  nationality deceased title                         other.author
1 McNeil   Australia   no       Interactive Data Analysis     NA
2 Ripley   UK          no       Spatial Statistics            NA
3 Ripley   UK          no       Stochastic Simulation         NA
4 Tierney  US          no       LISP-STAT                     NA
5 Venables Australia   no       Modern Applied Statistics ... Ripley

In [159]:
#only merging specific rows or column
m1=merge(authors[,1:2],books ,by.x="surname", by.y="name")
m1

  surname  nationality title                         other.author
1 McNeil   Australia   Interactive Data Analysis     NA
2 Ripley   UK          Spatial Statistics            NA
3 Ripley   UK          Stochastic Simulation         NA
4 Tierney  US          LISP-STAT                     NA
5 Tukey    US          Exploratory Data Analysis     NA
6 Venables Australia   Modern Applied Statistics ... Ripley