In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('car_evaluation.csv')

In [3]:
df.shape

(1727, 7)

In [4]:
df.columns

Index(['vhigh', 'vhigh.1', '2', '2.1', 'small', 'low', 'unacc'], dtype='object')

In [5]:
df.rename(columns = {'vhigh':'buying_price','vhigh.1':'maintance_cost','2':'no._of_doors','2.1':'person_capacity','small':'boot-space','low':'safety','unacc':'decision'}, inplace = True)

In [6]:
df.head()

,buying_price,maintance_cost,no._of_doors,person_capacity,boot-space,safety,decision
0,vhigh,vhigh,2,2,small,med,unacc
1,vhigh,vhigh,2,2,small,high,unacc
2,vhigh,vhigh,2,2,med,low,unacc
3,vhigh,vhigh,2,2,med,med,unacc
4,vhigh,vhigh,2,2,med,high,unacc

In [7]:
df.any().isnull().values
#No Null values

array([False, False, False, False, False, False, False])

In [8]:
df.dtypes

buying_price       object
maintance_cost     object
no._of_doors       object
person_capacity    object
boot-space         object
safety             object
decision           object
dtype: object

In [9]:
df.iloc[:,0].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [10]:
df.iloc[:,1].unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [11]:
df.iloc[:,2].unique()

array(['2', '3', '4', '5more'], dtype=object)

In [12]:
df.iloc[:,3].unique()

array(['2', '4', 'more'], dtype=object)

In [13]:
df.iloc[:,4].unique()

array(['small', 'med', 'big'], dtype=object)

In [14]:
df.iloc[:,5].unique()

array(['med', 'high', 'low'], dtype=object)

In [15]:
df.iloc[:,6]=df.iloc[:,6].replace('vgood', 'acc')

In [16]:
df.iloc[:,6]=df.iloc[:,6].replace('good', 'acc')

In [17]:
df.iloc[:,6].unique()

array(['unacc', 'acc'], dtype=object)

In [18]:
df.iloc[:,3].replace('more', 6,inplace=True)
df.iloc[:,2].replace('5more', 5,inplace=True)

In [19]:
df.iloc[:,2].unique()

array(['2', '3', '4', 5], dtype=object)

In [20]:
df.iloc[:,3].unique()

array(['2', '4', 6], dtype=object)

In [21]:
df['no._of_doors']=df['no._of_doors'].astype(object).astype(int)

In [22]:
df['person_capacity']=df['person_capacity'].astype(object).astype(int)

In [23]:
df.dtypes

buying_price       object
maintance_cost     object
no._of_doors        int32
person_capacity     int32
boot-space         object
safety             object
decision           object
dtype: object

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
encoder=LabelEncoder()
df["buying_price"]=encoder.fit_transform(df['buying_price'])

In [26]:
df["maintance_cost"]=encoder.fit_transform(df['buying_price'])
df["boot-space"]=encoder.fit_transform(df['buying_price'])
df["safety"]=encoder.fit_transform(df['buying_price'])
df["decision"]=encoder.fit_transform(df['buying_price'])

In [27]:
df.head()

,buying_price,maintance_cost,no._of_doors,person_capacity,boot-space,safety,decision
0,3,3,2,2,3,3,3
1,3,3,2,2,3,3,3
2,3,3,2,2,3,3,3
3,3,3,2,2,3,3,3
4,3,3,2,2,3,3,3

In [28]:
df.iloc[:,6].unique()

array([3, 0, 2, 1], dtype=int64)

In [29]:
df.describe()

,buying_price,maintance_cost,no._of_doors,person_capacity,boot-space,safety,decision
count,1727.000000,1727.000000,1727.000000,1727.000000,1727.000000,1727.000000,1727.000000
mean,1.499131,1.499131,3.500869,4.001158,1.499131,1.499131,1.499131
std,1.118098,1.118098,1.118098,1.633229,1.118098,1.118098,1.118098
min,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000
25%,0.500000,0.500000,3.000000,2.000000,0.500000,0.500000,0.500000
50%,1.000000,1.000000,4.000000,4.000000,1.000000,1.000000,1.000000
75%,2.000000,2.000000,4.500000,6.000000,2.000000,2.000000,2.000000
max,3.000000,3.000000,5.000000,6.000000,3.000000,3.000000,3.000000

In [30]:
df.iloc[:,0:6]=df.iloc[:,0:6]= df.iloc[:,0:6] / df.iloc[:,0:6].abs().max()
# view normalized data
df.head(30)

,buying_price,maintance_cost,no._of_doors,person_capacity,boot-space,safety,decision
0,1.0,1.0,0.4,0.333333,1.0,1.0,3
1,1.0,1.0,0.4,0.333333,1.0,1.0,3
2,1.0,1.0,0.4,0.333333,1.0,1.0,3
3,1.0,1.0,0.4,0.333333,1.0,1.0,3
4,1.0,1.0,0.4,0.333333,1.0,1.0,3
5,1.0,1.0,0.4,0.333333,1.0,1.0,3
6,1.0,1.0,0.4,0.333333,1.0,1.0,3
7,1.0,1.0,0.4,0.333333,1.0,1.0,3
8,1.0,1.0,0.4,0.666667,1.0,1.0,3
9,1.0,1.0,0.4,0.666667,1.0,1.0,3
10,1.0,1.0,0.4,0.666667,1.0,1.0,3
11,1.0,1.0,0.4,0.666667,1.0,1.0,3
12,1.0,1.0,0.4,0.666667,1.0,1.0,3
13,1.0,1.0,0.4,0.666667,1.0,1.0,3
14,1.0,1.0,0.4,0.666667,1.0,1.0,3
15,1.0,1.0,0.4,0.666667,1.0,1.0,3
16,1.0,1.0,0.4,0.666667,1.0,1.0,3
17,1.0,1.0,0.4,1.000000,1.0,1.0,3
18,1.0,1.0,0.4,1.000000,1.0,1.0,3
19,1.0,1.0,0.4,1.000000,1.0,1.0,3
20,1.0,1.0,0.4,1.000000,1.0,1.0,3
21,1.0,1.0,0.4,1.000000,1.0,1.0,3
22,1.0,1.0,0.4,1.000000,1.0,1.0,3
23,1.0,1.0,0.4,1.000000,1.0,1.0,3
24,1.0,1.0,0.4,1.000000,1.0,1.0,3
25,1.0,1.0,0.4,1.000000,1.0,1.0,3
26,1.0,1.0,0.6,0.333333,1.0,1.0,3
27,1.0,1.0,0.6,0.333333,1.0,1.0,3
28,1.0,1.0,0.6,0.333333,1.0,1.0,3
29,1.0,1.0,0.6,0.333333,1.0,1.0,3

In [31]:
from sklearn import tree
from sklearn.model_selection import train_test_split

In [48]:
x=df.iloc[:,0:6]
y=df.iloc[:,6]

In [65]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, shuffle=False, random_state=1)

In [66]:
model = tree.DecisionTreeClassifier()
model = model.fit(x_train, y_train)

In [67]:
y_pred = model.predict(x_test)
print(y_pred)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [68]:
from sklearn.metrics import accuracy_score

In [69]:
accuracy = accuracy_score(y_test,y_pred)

In [70]:
print('accuracy: ',accuracy)

accuracy:  1.0