In [2]:
import pandas as pd
import numpy as np

# Pandas Series

In [52]:
a = pd.Series([2,3,4,5,6])

In [53]:
a

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [54]:
a.name='First Pandas Series'

In [55]:
a

0    2
1    3
2    4
3    5
4    6
Name: First Pandas Series, dtype: int64

In [56]:
a.dtype

dtype('int64')

In [57]:
a.values

array([2, 3, 4, 5, 6], dtype=int64)

In [58]:
# Selecting elements
a[0]

2

In [59]:
a[-1::]

4    6
Name: First Pandas Series, dtype: int64

In [60]:
l=['a','b','c']

In [61]:
a.index=['a','b','c','d','e']

In [62]:
a

a    2
b    3
c    4
d    5
e    6
Name: First Pandas Series, dtype: int64

In [63]:
a['b']

3

In [30]:
# creating series in a single step
b=pd.Series({'a':1,
    'b':2,
    'c':3,
    'd':4
   }, name='second series')

In [31]:
b

a    1
b    2
c    3
d    4
Name: second series, dtype: int64

In [64]:
#Indexing
#iloc method
a.iloc[0]

2

In [65]:
a.iloc[-2]

5

In [66]:
a[['a','b']]

a    2
b    3
Name: First Pandas Series, dtype: int64

In [67]:
a.iloc[[0,2]]

a    2
c    4
Name: First Pandas Series, dtype: int64

# Selectin of range

In [37]:
l

['a', 'b', 'c']

In [38]:
l[0:2]

['a', 'b']

In [50]:
b['a':'c']

a    1
b    2
c    3
Name: second series, dtype: int64

# Conditonal Selection(Boolean)

In [68]:
a

a    2
b    3
c    4
d    5
e    6
Name: First Pandas Series, dtype: int64

In [69]:
a>3

a    False
b    False
c     True
d     True
e     True
Name: First Pandas Series, dtype: bool

In [70]:
a[a>3]

c    4
d    5
e    6
Name: First Pandas Series, dtype: int64

In [72]:
a.mean()

4.0

In [73]:
a[a>a.mean()]

d    5
e    6
Name: First Pandas Series, dtype: int64

In [74]:
a

a    2
b    3
c    4
d    5
e    6
Name: First Pandas Series, dtype: int64

In [75]:
a*1000000

a    2000000
b    3000000
c    4000000
d    5000000
e    6000000
Name: First Pandas Series, dtype: int64

In [76]:
a

a    2
b    3
c    4
d    5
e    6
Name: First Pandas Series, dtype: int64

In [79]:
a[(a>3) & (a<6)]

c    4
d    5
Name: First Pandas Series, dtype: int64

# Modifying Series

In [80]:
a['a']=8

In [81]:
a

a    8
b    3
c    4
d    5
e    6
Name: First Pandas Series, dtype: int64

In [82]:
a.iloc[-2]=9

In [83]:
a

a    8
b    3
c    4
d    9
e    6
Name: First Pandas Series, dtype: int64

In [86]:
a[a<4]=10

In [87]:
a

a     8
b    10
c     4
d     9
e     6
Name: First Pandas Series, dtype: int64