Evaluate the dataset of the Summer Olympics, London 2012 to:

Find and print the name of the country that won maximum gold medals,

Find and print the countries who won more than 20 gold medals,

Print the medal tally,

Print each country name with the corresponding number of gold medals, and

Print each country's name with the total number of medals won.

In [2]:
import pandas as pd 
import numpy as np

In [42]:
olympics = {"country":["Great Britain","China","Russia","United_States","Korean","Japan","Germany"],"Country_code":["GBR","CHN","RUS","US","KOR","JPN","GER"],
          "Year":[2012,2012,2012,2012,2012,2012,2012],"Gold_Medals":[29,38,24,46,13,7,11],"Silver_Medals":[17,28,25,28,8,14,11],"Bronze_Medals":[19,22,32,29,7,17,14]}
o= pd.DataFrame(olympics)
o

         country Country_code  Year  Gold_Medals  Silver_Medals  Bronze_Medals
0  Great Britain          GBR  2012           29             17             19
1          China          CHN  2012           38             28             22
2         Russia          RUS  2012           24             25             32
3  United_States           US  2012           46             28             29
4         Korean          KOR  2012           13              8              7
5          Japan          JPN  2012            7             14             17
6        Germany          GER  2012           11             11             14

# 1.

In [49]:
o[["country","Gold_Medals"]].max()

country        United_States
Gold_Medals               46
dtype: object

# 2.

In [50]:
a= (o[o["Gold_Medals"]>20])
a["country"]

0    Great Britain
1            China
2           Russia
3    United_States
Name: country, dtype: object

# 3.

In [51]:
o[["Gold_Medals","Silver_Medals","Bronze_Medals"]]

   Gold_Medals  Silver_Medals  Bronze_Medals
0           29             17             19
1           38             28             22
2           24             25             32
3           46             28             29
4           13              8              7
5            7             14             17
6           11             11             14

# 4.

In [53]:
o[["country","Gold_Medals"]]

         country  Gold_Medals
0  Great Britain           29
1          China           38
2         Russia           24
3  United_States           46
4         Korean           13
5          Japan            7
6        Germany           11

# 5.

In [69]:
np.gold=np.array(olympics["Gold_Medals"])
np.silver=np.array(olympics["Silver_Medals"])
np.bronze=np.array(olympics["Bronze_Medals"])

In [70]:
total_medals=np.gold+np.silver+np.bronze

In [72]:
country=np.array(olympics["country"])

In [74]:
country=pd.array(country)
final_count=pd.Series(total_medals,index=country)
final_count

Great Britain     65
China             88
Russia            81
United_States    103
Korean            28
Japan             38
Germany           36
dtype: int32