In [1]:
#ANOVA
a=c(2,3,7,2,6)
b=c(10,8,7,5,10)
d=c(10,13,14,13,15)
df=data.frame(cbind(a,b,d))
df
sg=stack(df)
sg
anovatest=aov(values~ind,data=sg)
anovatest
summary(anovatest)

  a b  d
1 2 10 10
2 3  8 13
3 7  7 14
4 2  5 13
5 6 10 15

   values ind
1   2     a
2   3     a
3   7     a
4   2     a
5   6     a
6  10     b
7   8     b
8   7     b
9   5     b
10 10     b
11 10     d
12 13     d
13 14     d
14 13     d
15 15     d

Call:
   aov(formula = values ~ ind, data = sg)

Terms:
                     ind Residuals
Sum of Squares  203.3333   54.0000
Deg. of Freedom        2        12

Residual standard error: 2.12132
Estimated effects may be unbalanced

            Df Sum Sq Mean Sq F value   Pr(>F)
ind          2  203.3   101.7   22.59 8.54e-05 ***
Residuals   12   54.0     4.5
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

In [3]:
#t-test Single tailed
x1=c(14,14,16,13,12,17,15,14,15,13,15,14)
t.test(x1,mu=15,alternative="greater")

#2-tailed Ttest
boys=c(14,8,7,13)
girls=c(8,6,4,14)
t.test(boys,girls,mu=0,conf=0.95,paired=FALSE)

#paired Ttest
before=c(9,10,7,5,7,5,9,6,8,7)
after=c(7,6,5,4,4,6,7,5,5,7)
t.test(before,after,mu=0,conf=0.95,paired=TRUE)

	One Sample t-test

data:  x1
t = -1.6848, df = 11, p-value = 0.9399
alternative hypothesis: true mean is greater than 15
95 percent confidence interval:
 13.62273      Inf
sample estimates:
mean of x
 14.33333

	Welch Two Sample t-test

data:  boys and girls
t = 0.89803, df = 5.7596, p-value = 0.4051
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -4.381432  9.381432
sample estimates:
mean of x mean of y
     10.5       8.0

	Paired t-test

data:  before and after
t = 3.5973, df = 9, p-value = 0.005773
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.6309462 2.7690538
sample estimates:
mean of the differences
                    1.7