In [1]:
import pandas as pd

In [9]:
df= pd.read_csv('Cancer_dm.csv')
df

      Ω score  Mutant allele frequency (%)  Mutant fragments/mL plasma
0        2.96                         0.27                         5.1
1        2.45                         0.02                         3.2
2        1.22                         0.06                         1.4
3        1.64                         0.16                         3.6
4        1.33                         0.08                         2.5
...       ...                          ...                         ...
1822      NaN                          NaN                         NaN
1823      NaN                          NaN                         NaN
1824      NaN                          NaN                         NaN
1825      NaN                          NaN                         NaN
1826      NaN                          NaN                         NaN

[1827 rows x 3 columns]

In [10]:
df.corr()

                              Ω score  Mutant allele frequency (%)
Ω score                      1.000000                     0.712327
Mutant allele frequency (%)  0.712327                     1.000000