In [1]:
import pandas as pd 
f1=open('D:\hellohiall.csv','w+')
f1.close()
f1=open('D:\hellohiall.csv','r')
f2=open('Compute Report 0824.csv','r')
f3=open('Compute Report 0928.csv','r')
f4=open('Compute Report 1012.csv','r')
f1.close()
f2.close()
f3.close()
f4.close()
f1=open('D:\hellohiall.csv','a+')
f2=open('Compute Report 1012.csv','r')
f3=open('Compute Report 0928.csv','r')
f4=open('Compute Report 0824.csv','r')
f1.write(f2.read())
f1.write(f3.read())
f1.write(f4.read())
f1.seek(0)
f1.read()
f1=pd.read_csv('D:\hellohiall.csv')
f1

,cluster_name,DC Name,Cluster Region (Prod/Non Prod),Cluster Type,Active,reporting_date,no_of_hosts,core_per_host,ram_per_host,vcpu_allocated,vram_allocated
0,Atlanta UCS Cluster 1,Atlanta,NonProd,Vmware,TRUE,10-12-2020,3,24,384,102,289
1,SHK DATABASE CLUSTER,SHK,Prod,Vmware,TRUE,10-12-2020,6,32,3072,882,3834
2,SHK DATABASE CLUSTER2,SHK,Prod,Vmware,TRUE,10-12-2020,2,32,3072,0,0
3,SHK DB2 Cluster,SHK,Prod,Vmware,TRUE,10-12-2020,7,36,768,106,710
4,SHK NONBILLABLE CLUSTER,SHK,Prod,Vmware,TRUE,10-12-2020,3,36,768,394,1277
...,...,...,...,...,...,...,...,...,...,...,...
130,West Chester UCS Cluster 1,West Chester,NonProd,Vmware,TRUE,8/24/2020,3,24,384,182,427
131,Braintree UCS Cluster 1,BrainTree,NonProd,Vmware,TRUE,8/24/2020,3,24,384,90,264
132,STR NonBillable Cluster,STR,Prod,Vmware,TRUE,8/24/2020,4,36,1535,445,1228
133,STR NON-PROD LINUX,STR,NonProd,Vmware,TRUE,8/24/2020,3,36,1535,680,2376
134,Chandler UCS Cluster 1,MPL,NonProd,Vmware,TRUE,8/24/2020,3,24,384,44,120